{% raw %}
{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% translate "2FA Setup" %}{% endblock head_title %}
{% block title %}{% translate "Generate Backup Tokens" %}{% endblock title %}
{% block subtitle %}{% translate "Generate backup tokens in case you lose access to your 2FA device." %}{% endblock subtitle %}

{% block content %}
  {% if backup_tokens and reveal_tokens %}
    <ul class="my-2 text-4xl text-center tracking-widest leading-normal">
      {% for token in backup_tokens %}
        <li><code>{{ token.token }}</code></li>
      {% endfor %}
    </ul>

    <p class="my-8 text-sm text-gray-600">
      {% translate "Save the tokens above in a secure location that you can access if you can't access your 2FA device." %}
    </p>

    <a
      href="{% url 'admin:index' %}"
      class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      {% translate "Continue" %}
    </a>
  {% else %}
    <form method="post">
      {% csrf_token %}
      <button type="submit"
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        {% translate "Generate Backup Tokens" %}
      </button>
    </form>
  {% endif %}

  {% if not request.user.require_2fa %}
    <a href="{% url 'two-factor-remove' %}">Disable Two Factor</a>
  {% endif %}

{% endblock %}
{% endraw %}
