{% raw %}
{% extends "account/base.html" %}

{% load static %}
{% load i18n %}

{% block head_title %}{% translate "Change password" %}{% endblock head_title %}
{% block title %}{% translate "Change your password" %}{% endblock title %}
{% block subtitle %}
  Or <a href="{% url 'account_login' %}" class="font-medium text-indigo-600 hover:text-indigo-500"> {% translate "sign in to your account" %} </a>
{% endblock subtitle %}

{% block content %}
  <form action="{{ action_url }}" method="POST" class="space-y-6">
    {% include 'account/non_field_errors.html' %}

    <div>
      <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700"> {{ form.password1.label }} </label>
      <div class="mt-1">
        <input id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" type="{{ form.password1.field.widget.input_type }}" required
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        {{ form.password1.errors }}
      </div>
    </div>

    <div>
      <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700"> {{ form.password2.label }} </label>
      <div class="mt-1">
        <input id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" type="{{ form.password2.field.widget.input_type }}" required
          class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        {{ form.password2.errors }}
      </div>
    </div>

    <div>
      <button type="submit"
        class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        {% translate "Change password" %}</button>
    </div>

    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
  </form>
{% endblock content %}
{% endraw %}
